/*Jordan Schulte*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
    font-family: 'Teko', sans-serif;
    font-size: 100pt;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #2ACAEA;
}

@media screen and (max-width: 812px){
    body {
        font-size: 60pt;
    }
}